 <div mm="x1050" class="product-card  x1033 tile db tal psr pt1 fsF" sm="c6">
        {% if product.featured_image != blank %}
         
            <a href="{{ product.url | within: collection }}" class="product-link"><img sm="hvw50" class="ofc h100 w100 flip" data-src="{{ product.images[1] | img_url:'1500x800' }}" src="{{ product.featured_image | img_url:"1500x800"}}" />
            

           </a>

            <a href="{{ product.url | within: collection }}" class="psa t0 l0 p0 pt1-5 pr1 product-title pl2 ">
                <div href="{{ product.url | within: collection }}">{{ product.title }}</div>
              {% if product.available %}
                  {% if product.compare_at_price > product.price %}
                   <s class=" di fsA m0">{{ product.compare_at_price | money }}</s>
                   <p class=" di fsA m0">{{ product.price | money}}</p>
                  {% else %}
                    <p class=" di fsA m0">{{ product.price | money}}</p>
                  {% endif %}
              {% else %}

                <s class=" di fsA m0"> 

                {% if product.compare_at_price > product.price %}

                  {% if product.price_varies %}
                    {%- assign sale_price = product.price | money -%}
                  {% else %}
                    {{ product.price | money }}
                  {% endif %}

                {% else %}

                  {% if product.price_varies %}
                    {%- assign price = product.price | money -%}
                  {% else %}
                    {{ product.price | money }}
                  {% endif %}

                {% endif %}

                {% if product.compare_at_price > product.price %}
                  <s class="cb di">{{ product.compare_at_price | money }}</s>
                {% endif %}

                {% unless product.available %}
              </s>
                  {{ 'products.product.sold_out' | t }}
                {% endunless %}
                
              {% endif %}
           </a>
        {% endif %}

</div>