<div id="size-guide-module" class="psf vh100 vw100 x xac t0 l0 open dn ttu fsD">
   <div class="bg-el psa w100 h100 t0 l0"></div>
   <div class="cw z2 c11 m0a mwE">
   		<nav class="x xjb ttu pb4">
   			<div>
   				<span id="size-tab" class="op50 active mr1-5">Size Guide</span>
   				<span id="measuring-tab" class="op30">Measuring Guide</span>
   			</div>
   			<div mm="pr0-5" sm="pr1" class="tac pr2">
   				<span id="cm-tab" class="op30 active">CM</span>
   				<span class="pl1-5 op50" id="inches-tab">Inches</span>
   			</div>
   		</nav>
   		{% assign w = cType | append:'-' %}
   		{% assign w = w | append:sg %}
   		{% assign w = w | append:'-' %}

   		{% assign quad  = "a,b,c,d" | split:',' %}
   		{% assign part =  "shoulder width,chest width,sleeve length,body length" | split:',' %}
   		{% assign sizes = "XS,S,M,L,XL,XXL" | split:',' %}

   		<div class="x">
   			<div class="list-parts op30">
   				<div class="blank op0 vh ">p</div>
   				{% for x in part %}
   					<div class="table-entry">{{x}}</div>
   				{% endfor %}
   			</div>
   			<div id="size-chart" class="w100">
   				<div class="x xjb pb2 tac">
   					{% for size in sizes %}
   						<div class="table-entry op30">{{size}}</div>
   					{% endfor %}
   				</div>
		   		{% for index in quad %}
		   		<div class="x xjb tac">
		   			{% assign x = w | append:index %}
		   			{% capture guide  %}size-guide-{{x}}{% endcapture %}
		   			{% assign sizeMap = section.settings[guide] | split:',' %}
		   			{% for num in sizeMap %}
		   				<div class="table-entry actual-nums">{{num}}</div>
		   			{% endfor %}
		   		</div>
		   		{% endfor %}
		   	</div>
		</div>
   </div>
   <img class="ex ofcn " src="{{ 'ex.png' | asset_url}}"/>
</div>