{% comment %}
  This page represents the /collections and /products pages.
{% endcomment %}
{% assign i = 0 %}
{% assign blockNum = section.blocks | size %}
{% for block in section.blocks %}
{% assign j = i | modulo:2 %}
{% assign collection = collections[block.settings.collection] %}


{% if j == 0 %}
  {% if blockNum == 1 %}
    <div sm="xw" id="the-only-one" class="x xjc psr"  title="{{ 'collections.general.link_title' | t: title: title }}">
  
  {% else %}
    <div sm="xw" class="x xjc psr"  title="{{ 'collections.general.link_title' | t: title: title }}">
  
  {% endif %}
  


{% else %}
  <div sm="xw" class="x xjc psr reverse"title="{{ 'collections.general.link_title' | t: title: title }}">
{% endif %}
{% assign i = i | plus:1 %}
{% if block.settings.image != blank %}
       {%- assign image_object = block.settings.image -%}
{% else %}
         {%- assign image_object = collection.image | default: collection.products.first.featured_image -%}
{% endif %}
  <a  href="{{ collection.url }}" style="background-color:{{  block.settings.color }}" sm="hvw100 vw100" class="c6 hvw50 psr">
 <img src="{{ image_object | img_url:'1800x1200'}}" class="w100 h100 ofa psa" />
</a>
    <a  sm="w100 mh230" href="{{ collection.url }}" style="background-color:{{  block.settings.color }}" class="c6 hvw50 psr">


      <div class="psa tac  c9 c" ><h1 class="fsC" lm="fsC" >{{ collection.title }}</h1></div>
    </a>
</div>
{% endfor %}


{% schema %}
  {
    "blocks": [
      {
        "type":"collection",
        "name":"collection repeater",
        "settings":[
          {
            "id":"collection",
            "type":"collection",
            "label":"collection"
          },{
            "type":"image_picker",
            "id":"image",
            "label":"image"
        } ,
          {
            "id":"color",
            "type":"color",
            "label":"color" 
          }

        ]
      }
    ]
  }

{% endschema %}