<div class="tac">
	<h1 class="mb0-5">{{ section.settings.heading_1 }}</h1>
	<div class="mwD  m0a"><a class="butt mt0-5 mb1" href="{{ section.settings.link }}">{{ section.settings.button_text}}</a></div>
	<div class="mb1">{{ section.settings.main_text }}</div>
	<h2 class="mb1">{{ section.settings.heading_2 }}</h2>
	<div>
		<a class="db" href="mailto:{{ section.settings.email }}" target="_blank">{{ section.settings.email }}</a>
		<a class="db" href="mailto:{{ section.settings.email_2 }}" target="_blank">{{ section.settings.email_2 }}</a>
	</div>
</div>
{% schema %}
{
	"name": "Contact",
	"settings": [
		{
			"type": "text",
			"id": "heading_1",
			"label": "Heading One",
			"default": "Get in touch"
		},
		{
			"type":"text",
			"id": "button_text",
			"label": "Button Text",
			"default": "Chat with us"
		},
		{
			"type": "url",
			"id": "link",
			"label": "Button Link"
		},
		{
			"type": "text",
			"id": "main_text",
			"label": "Sub text",
			"default": "Usually respond within 24hrs"
		},
		{
			"type": "text",
			"id": "heading_2",
			"label": "Heading One",
			"default": "More Inquries"
		},
		{
			"type": "text",
			"id": "email",
			"label": "Email One"
		},
		{
			"type": "text",
			"id": "email_2",
			"label": "Email Two"
		}
	]
}

{% endschema %}