<section data-section-id="{{ section.id }}" data-section-type="product">


  {% if product.tags contains 'size-guide-a' %}
        {% assign sg = 'a' %}

  {% elsif product.tags contains 'size-guide-b' %}
    {% assign sg = 'b' %}

  {% elsif product.tags contains 'size-guide-c' %}
    {% assign sg = 'c' %}
  
  {% elsif product.tags contains 'size-guide-d' %}
    {% assign sg = 'd' %}
    
  {% else %}
    {% assign sg = blank %}
  {% endif %}

  {% for coll in product.collections %}
    {% if coll.handle contains 'men' %}
      {% assign cType = 'mens' %} 
      {% assign c = "men" %}

    {% endif %}

  {% endfor %}
  {% unless cType == 'mens' %}  
    {% assign cType = 'womans' %} 
      {% assign c = "women" %}

  {% endunless %}
  {% for tag in product.tags %}
    {% unless tag =='size-guide-a' or tag =='size-guide-b' or tag =='size-guide-c' or tag =='size-guide-d' or tag == 'one' or tag == 'two' or tag == 'three' or tag == 'four' or tag == 'fs' %} 
    {% comment %} Special Tags {% endcomment %} 
      {% assign theTag = tag %}
    {% endunless %}
  {% endfor %}


<div id="bigger-wrapper" class="psr">
  <div id="swipe-el" class="big-wrapper x  ">
  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}
  {% assign i = 0 %}


 <div id="slideshow" class="x1050 xo2 c7 ">

  {% for image in product.images %}
    {% capture wrapper_class %}
      {%- unless featured_image == image -%}
        hide
      {%- endunless -%}
    {% endcapture %}
    {% assign wrapper = 'index-' | append:forloop.index %}

    {% if i == 0 %}
    {% assign i = i | plus:1 %}
    <noscript><span class="dn cancel"></span></noscript>
    <div {% if product.tags contains 'fs' %} id="full-width-image" {% endif %} class="responsive-image__wrapper c12 {% if product.tags contains 'fs' %}{% else %}mwF p1{% endif %}  fr {{ wrapper }} activeSlide pb0 oh"> <img class="w100 ojc product-single__thumbnail-image image-zoom" src="{{ image.src | img_url: '1800x1200' }}" data-zoom="{{ image.src | img_url: '1800x1200', scale: 2 }}"  alt="{{ image.alt | escape }}"></div>

    {% elsif i == 1 %}
    <div {% if product.tags contains 'fs' %} id="wFWimg" {% endif %}class="responsive-image__wrapper c12 mwF fr {{ wrapper }}  p1 pb0 oh"> <img class="w100 ojc product-single__thumbnail-image image-zoom" data-zoom="{{ image.src | img_url: '1800x1200', scale: 2 }}" src="{{ image.src | img_url: '1800x1200' }}" alt="{{ image.alt | escape }}"></div>
    {% assign i = i | plus:1 %}

    {% else %}
    <div class="responsive-image__wrapper c12 mwF fr {{ wrapper }} p1 pb0 oh"> <img class="w100 ojc product-single__thumbnail-image image-zoom" data-zoom="{{ image.src | img_url: '1800x1200', scale: 2 }}" src="{{ image.src | img_url: '1800x1200' }}" alt="{{ image.alt | escape }}"></div>
    {% assign i = i | plus:1 %}

    {% endif %}
  {% endfor %}
    </div>
    <div id="dots">

      {% for j in (1..i) %}
    {% assign wrapper = 'index-' | append:forloop.index %}
    
      <span id="{{wrapper}}" class="bullet {% if j == 1 %}activeDot{% endif %}"></span>
      {% endfor %}
    </div>
    <div class="sticky-container x xw xdc xo1">
               <div class=" tac x1040" id="fixie">
                          <div class="pl2 inner-fix">
                            {% assign theTagURL = theTag | replace: " ", '-' | downcase %}
                             <div id="breadcrumbs" class="pt1">
                                  <a class="ttc" href="/collections/{{c | downcase}}" >{{ c }}</a><span> / </span><a href="/collections/{{c}}/{{ theTagURL }}">{{ theTag }}</a><span> / </span><span class="cB">{{product.title}}</span>
                              </div>
                            <h1 class="fsB lh1 m0">{{ product.title }}</h1>
                             {% if product.compare_at_price_max > product.price %}
                             <div  class="data-price-wrapper" data-price-wrapper>
                                <span class="fsA cr" data-product-price>
                                  {{ current_variant.price | money }}
                                </span>
                              {% else %}
                              <div class="data-price-wrapper"  data-price-wrapper>
                                <span class="fsA" data-product-price>
                                  {{ current_variant.price | money }}
                                </span>
                              {% endif %}
                                {% if product.compare_at_price_max > product.price %}
                                  <s class='fsC di' data-compare-price>
                                    {% if current_variant.compare_at_price > current_variant.price %}
                                      {{ current_variant.compare_at_price | money }}
                                    {% endif %}
                                  </s>
                                {% endif %}
                              </div>
                        <nav id="product-nav" class="pt2">
                        {% if product.description != blank %}
                            <span id="the-info" class="ttu activated-item">Info</span>
                        {% endif %}
                        {% if product.metafields.global.details != blank %}
                            <span id="the-details" class="ttu">Details</span>
                        {% endif %}
                            {% unless sg == blank %}<span id="size-guide" class="ttu">Size Guide</span>{% endunless %}
                        </nav>
                        {% if product.description != blank %}
                                     
                                     <div class="rte lh1-2 pb3 the-info bing fsA dn activated-item">
                                      {{ product.description }}
                                    </div>
                                   {% if product.metafields.global.details != blank %}
                                     <div class="rte lh1-2 pb3  fsA mb1 the-details">
                                      {{ product.metafields.global.details }}
                                    </div>
                                   {% endif %}
                        {% else %}
                          <div class="rte  pt1 "></div>
                        {% endif %}

                  {% form 'product', product, data-product-form: '', data-product-handle: product.handle, data-enable-history-state: 'true',class:'mt1-5' %}
                    {% unless product.has_only_default_variant %}
                      {% for option in product.options_with_values %}
                        <div class="js variant-radio">

                          

                             {% for value in option.values %}
                              <input type="radio" id="Option{{ option.position }}-{{ value }}" name="options[{{ option.name }}]" value="{{ value }}"{% if option.selected_value == value %} checked{% endif %}>
                              <label for="Option{{ option.position }}-{{ value }}">{{ value }}</label>
                            {% endfor %}

                        </div>
                      {% endfor %}
                    {% endunless %}

                    <noscript>
                      <select name="id">
                        {% for variant in product.variants %}
                          <option
                            {% if variant == current_variant %}selected="selected"{% endif %}
                            {% unless variant.available %}disabled="disabled"{% endunless %}
                            value="{{ variant.id }}">
                              {{ variant.title }}
                          </option>
                        {% endfor %}
                      </select>
                    </noscript>

                    <input class='dn' type="number" id="Quantity" name="quantity" value="1" min="1">

                    <button
                      type="submit"
                      name="add"
                      class="butt"
                      data-submit-button
                      {% unless current_variant.available %}disabled="disabled"{% endunless %}>
                        <span data-submit-button-text>
                          {% if current_variant.available %}
                            {{ 'products.product.add_to_cart' | t }}
                          {% else %}
                            {{ 'products.product.sold_out' | t }}
                          {% endif %}
                        </span>
                    </button>
                  {% endform %}
               

                  <div class="pt1 shield-guide">
                    <div class="underline db">S.I.G SHIELD INSULATION GUIDE</div>
                    <div class="pt1 x">
                      {% if product.tags contains 'one' %}
                      <img class="ofcn" src="{{ section.settings.shield1 | img_url:'36x36'}}" />
                      <div class="pl1 pt0-25">{{ section.settings.shieldTxt1 }}</div>
                      {% elsif product.tags contains 'two' %}

                      <img class="ofcn" src="{{ section.settings.shield2 | img_url:'36x36'}}" />
                      <div class="pl1 pt0-25">{{ section.settings.shieldTxt2 }}</div>
                      {% elsif product.tags contains 'three' %}

                      <img class="ofcn" src="{{ section.settings.shield3 | img_url:'36x36'}}" />
                      <div class="pl1 pt0-25">{{ section.settings.shieldTxt3 }}</div>
                      {% elsif product.tags contains 'four' %}

                      <img class="ofcn" src="{{ section.settings.shield4 | img_url:'36x36'}}" />
                      <div class="pl1 pt0-25">{{ section.settings.shieldTxt4 }}</div>
                      {% endif %}
                    </div>
                  {% if section.settings.show_share_buttons %}
                    {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
                  {% endif %}
            </div>
      </div>
    </div>
            <div class="xtrasp "></div>

       {% unless sg == blank %}
          {% include 'size-guide' %}
       {% endunless %}
</section>

{% schema %}
  {
    "name": "Product pages",
    "settings": [
     
      {
        "type": "text",
        "id": "shieldTxt1",
        "label": "text for level one shield guide"
      },{
      "type": "image_picker",
      "id": "shield1",
      "label": "image for level one shield guide"
      },{
        "type": "text",
        "id": "shieldTxt2",
        "label": "text for level two shield guide"
      },{
      "type": "image_picker",
      "id": "shield2",
      "label": "image for level two shield guide"
      },{
        "type": "text",
        "id": "shieldTxt3",
        "label": "text for level three shield guide"
      },{
      "type": "image_picker",
      "id": "shield3",
      "label": "image for level three shield guide"
      },{
        "type": "text",
        "id": "shieldTxt4",
        "label": "text for level four shield guide"
      },{
      "type": "image_picker",
      "id": "shield4",
      "label": "image for level four shield guide"
      },
      {
        "type":"text",
        "id":"size-guide-mens-a-a",
        "label":"Size Guide Jacket (M) Shoulder"
      },      {
        "type":"text",
        "id":"size-guide-mens-a-b",
        "label":"Size Guide Jacket (M) Chest"
      },      {
        "type":"text",
        "id":"size-guide-mens-a-c",
        "label":"Size Guide Jacket (M) Sleeve"
      },      {
        "type":"text",
        "id":"size-guide-mens-a-d",
        "label":"Size Guide Jacket (M) Body"
      },{
        "type":"text",
        "id":"size-guide-mens-b-a",
        "label":"Size Guide shirt (M) Shoulder"
      },      {
        "type":"text",
        "id":"size-guide-mens-b-b",
        "label":"Size Guide shirt (M) Chest"
      },      {
        "type":"text",
        "id":"size-guide-mens-b-c",
        "label":"Size Guide shirt (M) Sleeve"
      },      {
        "type":"text",
        "id":"size-guide-mens-b-d",
        "label":"Size Guide shirt (M) Body"
      },{
        "type":"text",
        "id":"size-guide-mens-c-a",
        "label":"Size Guide pants (M) Shoulder"
      },      {
        "type":"text",
        "id":"size-guide-mens-c-b",
        "label":"Size Guide pants (M) Chest"
      },      {
        "type":"text",
        "id":"size-guide-mens-c-c",
        "label":"Size Guide pants (M) Sleeve"
      },      {
        "type":"text",
        "id":"size-guide-mens-c-d",
        "label":"Size Guide pants (M) Body"
      },{
        "type":"text",
        "id":"size-guide-womans-a-a",
        "label":"Size Guide jacket (F) Shoulder"
      },      {
        "type":"text",
        "id":"size-guide-womans-a-b",
        "label":"Size Guide jacket (F) Chest"
      },      {
        "type":"text",
        "id":"size-guide-womans-a-c",
        "label":"Size Guide jacket (F) Sleeve"
      },      {
        "type":"text",
        "id":"size-guide-womans-a-d",
        "label":"Size Guide jacket (F) Body"
      },{
        "type":"text",
        "id":"size-guide-womans-b-a",
        "label":"Size Guide shirt (F) Shoulder"
      },      {
        "type":"text",
        "id":"size-guide-womans-b-b",
        "label":"Size Guide shirt (F) Chest"
      },      {
        "type":"text",
        "id":"size-guide-womans-b-c",
        "label":"Size Guide shirt (F) Sleeve"
      },      {
        "type":"text",
        "id":"size-guide-womans-b-d",
        "label":"Size Guide shirt (F) Body"
      },{
        "type":"text",
        "id":"size-guide-womans-c-a",
        "label":"Size Guide pants (F) Shoulder"
      },      {
        "type":"text",
        "id":"size-guide-womans-c-b",
        "label":"Size Guide pants (F) Chest"
      },      {
        "type":"text",
        "id":"size-guide-womans-c-c",
        "label":"Size Guide pants (F) Sleeve"
      },      {
        "type":"text",
        "id":"size-guide-womans-c-d",
        "label":"Size Guide pants (F) Body"
      }
    ]
  }
{% endschema %}
