{% if cart.item_count > 0 %}

  <form class="pb8 w100 x" action="/cart" method="post" novalidate>
    <div class="responsive-table  x1060 tac">
      

        {% for item in cart.items %}

        {% comment %}

        Cart Item Template
        =====================
        The data-label attributes on <td> elements are mobile-friendly
        helpers used for responsive-table labels
        {% endcomment %}

<div class="x xw xjc pt2 pb2 ml4 bb1 c11 mwA psr">
  <div class="w100 x pt1 pt2 pl4 tal">
  {% if item.image != blank %}
                <a class="mw30" href="{{ item.url | within: collections.all }}">
                  {{ item | img_url: '240x240' | img_tag: item.title }}
                </a>
              {% endif %}
              <div class="pl1 w100">
             <h2 class="fsE"> <a href="{{ item.url }}">{{ item.product.title }}</a></h2>

              {% unless item.product.has_only_default_variant %}
                <p>{{ item.variant.title }}</p>
              {% endunless %}
           
            <div id="quantity-circle" class="pt1 x xjb" data-label="{{ 'cart.label.quantity' | t }}">
              <input type="number"
                     name="updates[]"
                     id="updates_{{ item.key }}"
                     value="{{ item.quantity }}"
                     class="dn"
                     min="0"
                     aria-label="{{ 'cart.general.item_quantity' | t }}">
            <span class="ff2">QTY: {{ 'item.quantity }}</span>
            <div data-label="{{ 'cart.label.total' | t }}">
              <h2 class="fsA">{{ item.line_price | money }}</h2>
            </div>
            </div>
            <a class="ex  but psa r0 t4 mt2" href="/cart/change?line={{ forloop.index }}&amp;quantity=0">
                <span class="dn op75">Remove</span>
              </a>
          </div>
  </div>

              <a class="ex  but psa r0 t4 mt2" href="/cart/change?line={{ forloop.index }}&amp;quantity=0">
                <img  style="width:15px;height:15px" class="ofcn" src="{{ 'ex.png' | asset_url }}"/>
              </a>


</div>
        {% endfor %}
    </div >

<div id="price-bin" class="fsB tal pt2 c11 m0a mwC x1040" style="line-height: 1;">
   <p class=" fsA m0">{{ 'cart.label.price' | t }}</p>

    <p class=" m0">{{ cart.items_subtotal_price | money }}</p>
    {% if cart.total_discounts > 0 %}
      <p class=" m0">{{ 'cart.general.savings' | t }} {{ cart.total_discounts | money }}</p>
    {% endif %}
          <input type="submit" class="dn" name="update" value="{{ 'cart.general.update' | t }}">

    <input type="submit" name="checkout" class="butt btn w100 m0 cw" value="{{ 'cart.general.checkout' | t }}">

    <p class="fsA lh1-2">{{ 'cart.general.shipping_at_checkout' | t }}</p>
  </div>
  </form>
{% else %}
<script>document.body.classList.add('no-products');</script>
  {% comment %}
  Cart empty state
  {% endcomment %}
  <div class="supports-cookies m0a fsB tac">
    <p>{{ 'cart.general.empty' | t }}</p>
    <p>{{ 'cart.general.continue_browsing_html' | t }}</p>
  {% comment %}
  Cart no cookies state
  ---------------------
  Browser cookies are required to use the cart. If cookies aren't enabled in the
  browser a message is displayed prompting the user to enable them.
  {% endcomment %}
    <div class="supports-no-cookies tac">
      <p>{{ 'cart.general.cookies_required' | t }}</p>
    </div>
  </div>

{% endif %}
